*{
    margin: 0;
    padding: 0;
    font-family: times new roman;
}

.cover{
    width: 100%;
    height: 100vh;
    background-image: url('bg_pic.png');
    background-size: cover;
    background-position: center;
}

.srch{
    width: fit-content;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

form input{
    border: none;
    border-radius: 12px;
    outline: none;
    padding: 20px;
}

form .srch-btn{
    background: #FFDE59;
    padding: 20px;
    border: none;
    border-radius: 12px;
    outline: none;
    color: #333;
    letter-spacing: 1px;
    cursor: pointer;
}

form .srch-btn:hover{
  background-color: #2B65EC;
  color:#FFFFFF;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hospital_list{
    position: relative;
    margin-left: 5%;
    
}

iframe{
    position: relative;
}